body{
    background-image: linear-gradient(skyblue, darkblue);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    overflow:hidden;
    text-align: center;
}
hr{
    border: 2px solid;
}